<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello brewbill</title>
  <link rel="stylesheet" href="/main.css">
  <script src="/jquery/jquery.js"></script>
</head>

<body>

<h1>Brewbill</h1>

<h2 id="malt">Malts</h2>

<button onClick="hello()">+</button>
<select>
    <%
    for(var i = 0 ; i < malts.length ; i++) {%>
        <option value="<%= malts[i].yield %>">
                <%= malts[i].name %>
        </option>
    <% } %>
</select> 

<h2>Hops</h2>
<button>+</button>
<select>
        <%
        for(var i = 0 ; i < hops.length ; i++) {%>
            <option value="<%= hops[i].alpha %>">
                    <%= hops[i].name %>
            </option>
        <% } %>
    </select> 


<h2>Yeast</h2>
<button>+</button>

<h2>Batch Size  (L) </h2>
<input type="text" value="20"/>

<h2>Mash Temp (Celcius) </h2>
<input type="text" value="67"/>

<h2>Result</h2>


<script>
    function hello(){
        console.log("hello"  + $('malt'));
    }
</script>

</body>
</html>
